@font-face {
  font-family: jf-openhuninn;
  src: local("jf-openhuninn-1.1") url(./font/jf-openhuninn-1.1.ttf);
}
body {
  font-family: "jf-openhuninn-1.1";
}

.fw-normal {
  margin-bottom: 15px;
}

/* header */
.navbar {
  background-color: #f8e2cf;
  padding: 12px;
  width: 100%;
  position: sticky;
  z-index: 20;
  top: 0px;
  left: 0px;
}

/* content */

/* category */

.category {
  margin-top: 40px;
display: flex;
flex-wrap: wrap;
justify-content: center; 
}


.category1 {
  margin:auto;
}
.category-img {
  border: #ccc 1px dashed;
  border-radius:10px;
 max-width: 50px;
 margin: auto;
}

.category-text {
  text-align: center;
  font-size: 14px;
}

body {
  /* background-color: #fdf6f0; */
  background-image: url(../images/grey.png);
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.small-logo {
  max-width: 100px;
  height: auto;
}
.btn:hover {
  background-color: #f8e2cf;
  border-color: #f8e2cf;
  color: black;
}
.input-group-text:hover {
  background: #fcd8d4;
}
.input-group-text {
  border: 0px;
  border-left: 1px solid black;
}
#inputGroupFile02 {
  border: 0px;
  margin-left: unset;
}

/* footer */
#footer {
  background-color: #f8e2cf;
  margin-top: 50px;
  padding: 20px;
}
hr {
  background-color: white;
  opacity: 1;
}
.app_download {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 0px 8px 0px;
  font-size: x-small;
}
.footer-content {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.icons i {
  margin-right: 10px;
}

#logo {
  height: 30px;
}

/*以下捲軸css */
/* 整個捲軸 */
::-webkit-scrollbar {
  width: 15px;
}
/* 捲軸的軌道 */
::-webkit-scrollbar-track {
  background: #fff;
}
/*捲軸尚未滑到的軌道*/
::-webkit-scrollbar-track-piece {
  background: #fff;
}
/* 滑動的區塊 */
::-webkit-scrollbar-thumb {
  background: #f8e2cf;
}
/* 滑鼠移到滑動的區塊上 */
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  max-width: 100%;
  border-radius: 10px;
}
.slick-slide img:hover {
  filter: brightness(70%);
}

i {
  z-index: 5;
}

.instance img {
  max-width: 50%;
  height: fit-content;
  margin-right: 5px;
}

.instance h5 {
  font-size: 16px;
}

#businessescategory input {
  margin-bottom: 15px;
}

.allshop {
  margin: 5px 10px;
  position: relative;
}

.allshop img {
  background-size: cover;
  background-position: center;
  max-width: 240px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.allshop img:hover {
  filter: brightness(70%);
}
.point0 {
  font-size: 8px;
  position: absolute;
  top: 15px;
  left: 16px;
  color: rgb(255, 255, 255);
  z-index: 50;
}

.heart {
  color: #fabcb5;
  position: absolute;
  top: 15px;
  right: 15px;
}

.point {
  font-size: 8px;
  position: absolute;
  right: 14px;
  top: 171px;
  color: rgb(255, 255, 255);
  z-index: 5;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 1;
}

.hot {
  position: relative;
}

h5.modal-title {
  margin-left: auto;
}

.hide {
  display: none;
}

@media screen and (max-width: 768px) {
  #menuright {
    margin: 0px;
  }

  .hide7 {
    display: none;
  }
  .show7 {
    display: flex;
  }

  .show7-1 {
    padding: 5px;
  }
}
