
@font-face {
  font-family: jf-openhuninn;
  src: local("jf-openhuninn-1.1") url(./font/jf-openhuninn-1.1.ttf);
}
body {
  font-family: "jf-openhuninn-1.1";
}

/* footer */
#footer {
  background-color: #f8e2cf;
  margin-top: 50px;
  padding: 20px;
}
hr {
  background-color: white;
  opacity: 1;
}
.app_download {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 0px 8px 0px;
  font-size: x-small;
}
.footer-content {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.icons i {
  margin-right: 10px;
}
.small-logo {
  max-width: 100px;
  height: auto;
}
body{
  background-image: url(../../images/grey.png);

}


.hero {
  position: relative;
  width: 100%;
  background-repeat: repeat;
}

.card1 {
  box-shadow:3px 3px 5px 6px #cccccc6b;
  position: relative;
  width: 380px;
  height: 380px;
  background-color: white;
  margin: 30px auto;
  padding: 10px;
  border-radius: 15px;
  overflow: hidden;
}

.btn:hover {
  background-color: #fcd8d4;
  border-color: #fcd8d4;
  color: black;
}


.btn-area1 {
  display: flex;
  justify-content: center;
  position: relative;
  width: 240px;
  margin: 20px auto;
  background-color:#FDF6F0;
  border-radius: 30px;
}

.main-btn {
  position: relative;
  padding: 10px 30px;
  border: 0px;
  background: transparent;
  outline: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.switch {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #FCD8D4, #FCD8D4);
  width: 120px;
  height: 100%;
  border-radius: 30px;
  transition: 0.5s;
  cursor: pointer;
}

.form-area {
  position: absolute;
  top: 100px;
  width: 300px;
  transition: 0.5s;
}

.input_field {
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;
  margin: 10px;
  padding: 5px 10px;
  font-size: 15px;
  outline: none;
}


#sub{
  width: 50px;
  border: dashed 1px;
  border-radius: 5px;
  background:#FCD8D4;
  position: absolute;
  top: 112px;
  right:70px;
}

.sub-btn {
  display: block;
  width: 180px;
  margin: 30px auto;
  padding: 10px 30px;
  border: none;
  background: #F5C6AA;
  border-radius: 30px;
  cursor: pointer;
  color: black;
  font-weight: bold;
}
.sub-btn:hover {
  background-color: #fcd8d4;
  border-color: #fcd8d4;
  color: black;
}
#login1 {
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#register1 {
  left: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#register2 {
  left: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#register3 {
  left: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#logo {
  margin: 28px auto;
  height: 60px;
  display:block; 
}

#btn-register {
  position: relative;
  left: 15px;
}
#btn-login {
  position: relative;
  right: 15px;
}
#forget {
  width: 300px;
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}
