@font-face {
  font-family: jf-openhuninn;
  src: local("jf-openhuninn-1.1") url(./font/jf-openhuninn-1.1.ttf);
}
body {
  font-family: "jf-openhuninn-1.1";
}

.fw-normal{
  margin-bottom: 15px;
}

/* header */
.navbar {
  background-color: #f8e2cf;
  padding: 12px;
  width: 100%;
  position: sticky;
  z-index: 20;
  top: 0px;
  left: 0px;
}

/* content */

/* category */

body {
  /* background-color: #fdf6f0; */
  background-image: url(../../images/grey.png);
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.small-logo {
  max-width: 100px;
  height: auto;
}
.btn:hover {
  background-color: #f8e2cf;
  border-color: #f8e2cf;
  color: black;
}

/* footer */
#footer {
  background-color: #f8e2cf;
  margin-top: 50px;
  padding: 20px;
}
hr {
  background-color: white;
  opacity: 1;
}
.app_download {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 0px 8px 0px;
  font-size: x-small;
}
.footer-content {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.icons i {
  margin-right: 10px;
}

#logo {
  height: 30px;
}

/*以下捲軸css */
/* 整個捲軸 */
::-webkit-scrollbar {
  width: 15px;
}
/* 捲軸的軌道 */
::-webkit-scrollbar-track {
  background: #fff;
}
/*捲軸尚未滑到的軌道*/
::-webkit-scrollbar-track-piece {
  background: #fff;
}
/* 滑動的區塊 */
::-webkit-scrollbar-thumb {
  background: #f8e2cf;
}
/* 滑鼠移到滑動的區塊上 */
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.box {
  margin-top: 35px;
  box-shadow: 3px 3px 5px 6px #cccccc6b;
  border-radius: 15px;
  width: 360px;
  height: 450px;
  background-color: #ffffff;
  padding: 5px;
  overflow: auto;
}
.aa div {
  width: 200px;
}
.aa input,
.aa select {
  width: 200px;
  height: 23px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.side1 {
  margin-top: 35px;
  width: 120px;
}

.side1 a {
  color: black;
  text-decoration: none;
}

/* rwd */
.hide {
  display: none;
}

@media screen and (max-width: 768px) {
  #menuright {
    margin: 0px;
  }

  .hide7 {
    display: none;
  }
  .show7 {
    display: flex;
  }
  .qrcode {
    height: 300px;
  }
  .main1 {
    height: 60vh;
    background: url("../../images/bgsmall.png");
    background-size: cover;
    background-position: center;
  }
  .show7-1 {
    padding: 5px;
  }
}
