<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- 1. SQL方言與提供連結資料庫所需資訊(透過JDBC API來連結)之設定方式 -->
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.username">root</property>
		<property name="connection.password">00000000</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/project?useUnicode=yes&amp;characterEncoding=utf8&amp;useSSL=false&amp;serverTimezone=Asia/Taipei&amp;allowPublicKeyRetrieval=true</property>
<!-- 		<property name="connection.url">jdbc:mysql://us-cdbr-east-04.cleardb.com/heroku_a64c0078cd65816?reconnect=true&amp;useUnicode=yes&amp;characterEncoding=utf8&amp;useSSL=false&amp;serverTimezone=Asia/Taipei&amp;allowPublicKeyRetrieval=true</property> -->
		<!-- 2. 其他與資料存取有關的設定 -->
		<!-- SQL方言，設定是MySQL8Dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<!-- 自動產生資料庫的Schema create只有一開始，馬上改update-->
		<property name="hbm2ddl.auto">update</property>
		<!-- 顯示實際操作資料庫時的SQL -->
		<property name="show_sql">true</property>
		<!-- 將顯示的SQL排版，方便觀看 -->
		<property name="format_sql">true</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<!-- 定義程式交易管理的類型，本範例使用JDBC Transaction -->
<!-- 		<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property> -->
        <property name="hibernate.transaction.coordinator_class">jdbc</property>
		<!-- hibernate 相關效能設定 -->
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="connection_pool_size">10</property>

		<!-- 3. 宣告程式使用的永續類別 -->
		<mapping class="_01_Register.c_01_register.model.CustomerBean" />
		<mapping class="_01_Register.b_01_register.model.CompanyBean" />
		<mapping class="_03_ListDrinks.model.CategoryBean" />
		<mapping class="_03_ListDrinks.model.DrinkBean" />
		<mapping class="_03_ListDrinks.model.TagBean" />
		<mapping class="_03_ListDrinks.model.ToppingBean" />
		<mapping class="_04_ShoppingCart.model.ItemBean" />
		<mapping class="_04_ShoppingCart.model.ItemToppingBean" />
		<mapping class="_04_ShoppingCart.model.OrderBean" />
		<mapping class="_04_ShoppingCart.model.ShoppingCart" />
		<mapping class="_07_Others.model.CommentBean" />
		<mapping class="_07_Others.model.FavoriteBean" />
		<mapping class="_07_Others.model.SugarLevelBean" />
		<mapping class="_07_Others.model.SugarLimitBean" />
		<mapping class="_07_Others.model.TempLevelBean" />
		<mapping class="_07_Others.model.TempLimitBean" />


		
		
	</session-factory>
</hibernate-configuration>